<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCd99cZP-f2IYK2PS9ngH6A8zpXEMUBPi4</string>
	<key>GCM_SENDER_ID</key>
	<string>566064475089</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pravalgautam.Codable</string>
	<key>PROJECT_ID</key>
	<string>edtech-bd572</string>
	<key>STORAGE_BUCKET</key>
	<string>edtech-bd572.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:566064475089:ios:397c558f0e549b35060ef0</string>
</dict>
</plist>